


.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #37373F;
    height: 15vh;
    width: 100vw;
    align-items: center;
}


.div_logo{
    display: flex;
    flex-direction: row;
}


.h1logo{
    z-index: 1;
    color: aliceblue;
    font-size: 3em;
    

    
  }

/* estilo de el logo */

.App-logo {
   
    width: 8vw;
 }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  


  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  /* estilo de el input */

  .navbar_input{
    margin-left: 5%;
    width: 30vw;
    height: 30%;
    border-radius: 13px;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .input_div{
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .div_button{
    background-color: white;
    border-radius: 20%;
    margin: 3%;
    width: 40px;
    height: 35px;
  


  }


  /* iniciar sesion style */
  .navbar_link{
    color: aliceblue;
    margin-right: 5%;
  }

  .div_login{
    display: flex;
    flex-direction: row;
    width: 10vw;

  }

  .cart_div{
    background-color: #2B2B2C;
    width: 30vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    

  }

  .product_title_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .products_div{
    display: flex;
   
    flex-direction: column;
    width: 100%;
    height: 60%;

  }

  .total_div{
    border-top: 1px solid #BEBEBE ;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart_button{
    border-radius: 5px;
    width: 30%;
    height: 120%;
    
   
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    color: aliceblue;
    font-size: 1.2em;
    
    background-image: linear-gradient(
        45deg,
        hsl(100deg 80% 78%) 0%,
        hsl(95deg 72% 72%) 10%,
        hsl(91deg 67% 66%) 20%,
        hsl(87deg 63% 59%) 30%,
        hsl(83deg 61% 52%) 40%,
        hsl(78deg 83% 42%) 50%,
        hsl(82deg 83% 38%) 60%,
        hsl(88deg 83% 35%) 70%,
        hsl(94deg 83% 31%) 80%,
        hsl(103deg 84% 27%) 90%,
        hsl(118deg 86% 23%) 100%)
  }

  .cart_button:disabled{
    cursor: not-allowed;
    
    color: rgb(7, 7, 7);
    font-size: 1.2em;
    background-image: linear-gradient(
        45deg,
        rgb(169, 172, 168) 0%,
        rgb(168, 168, 168) 10%,
        rgb(114, 114, 114) 100%)
    
  }


  .noProductH3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    color: rgba(190, 190, 190,.5);
    font-size: 1.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }