.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
    color: black;
    
    
}

.footer_navlink{
    font-size: 1.3em;
    margin: 2%;
    font-weight: 500;

}